@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: rgb(240, 240, 240);
    --primary-color: rgb(253,253,253);
    --yellow-color: rgb(242,183,5);
    --blue-color: rgb(33,115,115);
    --blue-color--2: rgb(2,64,89);
    --green-color: rgb(132,176,38);
    --green-color--2: rgb(102, 145, 15);
    --red-color: rgb(242,7,50);
    --grey-color: rgb(50,56,55);
    --secondary-color: rgb(5,5,5);

}

/* Dark Mode */
[theme="dark"] {
    --background-color: rgb(29, 33, 33);
}

/* BASIC */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    cursor: default;
    margin: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

/* TRANSITION */
* {
    transition: all 300ms ease;
}


/* STAGE SECTION */
#stage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

.stage-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stage-container{
    border-radius: 48px;
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 24px;
}

.stage-box{
    width: 54px;
    height: 54px;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ready-stage{
    background: var(--yellow-color);
    border-color: var(--yellow-color);
    border-bottom-left-radius: 48px;
    border-top-left-radius: 48px;
}

.run-stage{
    border-color: var(--blue-color);
    border-radius: 16px;
}

.finish-stage{
    border-color: var(--green-color);
    border-bottom-right-radius: 48px;
    border-top-right-radius: 48px;
}
.stage-digit{
    color: var(--background-color);
}
.stage-text{
    color: var(--yellow-color);
}

/* FORM SECTION */
#form {
    width: 80%;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-input{
    height: 54px;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 0 12px;
    font-size: 1.1rem;
    background: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
}

.form-button{
    min-width: 54px;
    min-height: 54px;
    border: none;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--green-color);
    cursor: pointer;
    padding: 10px;
    object-fit: contain;
}
.form-button img{
    height: 26px;
    object-fit: contain;
}
.form-button:hover{
    background: var(--green-color--2);
}

.app-text{
    width: 60%;
    text-align: center;
}
/* FORM SECTION */
#result {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.result-boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.result-box{
    padding: 12px 32px;
    height: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.result-stage{
    background: var(--primary-color);
    border-radius: 12px;
    width: max-content;
    color: var(--secondary-color);
    text-align: center;
    justify-content: space-between;
}

.result-log{
    background: var(--grey-color);
    border-radius: 12px;
    min-width: max-content;
    color: var(--primary-color);
    font-style: italic;
}

.result-stack{
    background: var(--blue-color--2);
    border-radius: 48px;
    min-width: max-content;
    color: var(--primary-color);
    flex-direction: column-reverse;
    justify-content: end;
}

.result-state{
    background: var(--blue-color);
    border-radius: 12px;
    width: max-content;
    color: var(--primary-color);
}

.result-state img{
    height: 100%;
    object-fit: contain;
}

.stage-button{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.result-button{
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background: var(--blue-color--2);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-button:hover{
    background: var(--blue-color);
}

.result-button img{
    height: 22px;
    object-fit: contain;
}

.prev-stage-button{

}

.next-stage-button{

}


/*THEME TOGGLE*/

.toggle-theme {
    background-color: var(--yellow-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 1140px) {
    body {
        margin: 18px;
    }
    #form ,#result {
        width: 90%;
    }
    .app-text{
        width: 75%;
    }
}

@media screen and (max-width: 740px) {
    body {
        margin: 12px;
    }

    #form ,#result {
        width: 100%;
    }

    .app-text{
        width: 90%;
    }
}
